<div class="container mt-4">
  <h1 class="text-center">{{ 'EMPLOYEE_LIST' | translate }}</h1>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>{{ 'FIRST_NAME' | translate }}</th>
      <th>{{ 'LAST_NAME' | translate }}</th>
      <th>{{ 'EMAIL' | translate }}</th>
      <th>{{ 'DELETE' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.lastName }}</td>
      <td>{{ employee.email }}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteEmployee(employee.id)">{{ 'DELETE' | translate }}</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
